node_modules/
dist/
.env
playwright-report/
test-results/
.opencode
AGENT_INSTRUCTIONS.md
allure-results/
allure-report/
Allure_AGENT_INSTRUCTIONS.md
.DS_Store
**/.DS_Store
IMPROVEMENTS.md
docs/
.auth/